[submodule "0x03-shell_variables_expansions/0x03-shell_variables_expansions/alx-system_engineering-devops"]
	path = 0x03-shell_variables_expansions/0x03-shell_variables_expansions/alx-system_engineering-devops
	url = https://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@github.com/YassineSE1/alx-system_engineering-devops.git
